// Colors
$main-color: #028157;
$bright-main-color: #2fc287;
$heading-border-color: #e0e0e0bd;
$default-font-color: #3d3d3d;
$default-bright-font-color: #e6e6e6;
$global-header-bg-color: #2e2e2e;
$global-bg-color: #e0e0e0;

// Blog post
$blockqoute-bg-color: #e6e6e6;
$blockqoute-border-color: #368858;

// Code blocks
$codeblock-text-bg-color: #e7e7e7;
$codeblock-text-code-color: #cacaca;
$codeblock-bg-color: #2b2b2b;