$tag-bg-color: #e0e2e6af;
$tag-color: #156646;

.post-list-wrapper {
    position: relative;
    display: block;
    width: 100%;
    .post-list-item {
        display: block;
        margin: 10px 0;
    }

    .post-category-wrapper {
        width: inherit;
        list-style: none;
        margin-top: 5px;
        a {
            display: inline-block;
            padding: 4px 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 25px;
            text-align: center;
            background-color: $tag-bg-color;
            color: $tag-color;
            font-weight: 500;
        }
    }

    .post-written-date {
        color: #8f8f8f;
    }
}
