// @import './colors.module.scss';

// .post-list-wrapper {}

@mixin post-list {
    position: relative;
    display: block;
    margin: 1.5rem 0;
}

@mixin post-list-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #e0e0e0bd;
}

@mixin post-list-title {
    font-weight: 600;
    display: inline-block;
    width: 600px;
    font-size: 1.5rem;
    word-break: break-all;
}

.post-list {
    @include post-list();
}

.post-list-item {
    @include post-list-item();

    .post-list-title {
        @include post-list-title();
    }
}

