.info-wrapper {
    position: absolute;
    display: block;
    height: auto;
    margin-top: 20px;
    border: 1px solid blue;
    
    .info-contents {
        position: relative;
        left: 100px;
        border: 1px solid red;
        width: 140px;
        height: 240px;
        position: fixed;
    }
}

.floater {
    position: relative;
}