// colors
$main-color: #1b6339;
$heading-border-color: #e0e0e0;
$default-font-color: #3d3d3d;
$default-bright-font-color: #e6e6e6;
$global-header-bg-color: #11251d;

// darkmode colors
$global-wrapper-darkmode-bg-color: #acacac;
$global-footer-darkmode-bg-color: #666666;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html, body, * {
    font-size: 1.2rem;
    color: $default-font-color;
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $main-color;
    margin-block-start: 3rem;
}

h1,
h2,
h3 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid $heading-border-color;
}

h1 {
    font-size: 2rem;
}

h2, h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1.2rem;
}

a,
p,
span, li, ol, ul {
    font-size: 1rem;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

strong {
    color: $main-color;
}

li {
    list-style-position: inside;
}

.global-wrapper {
}

.layout-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 1080px;
    margin: 0px auto;
}

.post-wrapper {
    border: 1px solid green;
    max-width: 720px;
    height: auto;
    margin-top: 1.2rem;
    .blog-post {
        padding: 10px;
    }

}

// Global header and navigation
.global-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: $global-header-bg-color;
    & .global-header-title {
        width: 720px;
        justify-content: start;
        font-family: 'Abril Fatface', cursive;
        a {
            font-size: 2rem;
            color: $default-bright-font-color;
            padding: 0 10px;
        }
    }
}

.global-footer {
    position: relative;
    border: 1px solid red;
    height: 3rem;
}

// 목차
.heading-navigation-wrapper {
    position: sticky;
    display: block;
    top: 0px;
    margin: 1.2rem;
    width: 300px;
    min-height: auto;
    max-height: 50vh;
    border: 1px solid green;
}

