/* Screen size
    PC, labtop 1081px 이상
    tablet 768px ~ 1024px
    mobile 세로버전 가로버전
*/

@import './info-floater.module.scss';

@mixin default-setting {
    html,
    body,
    * {
        font-family: 'Noto Sans KR', 'Nanum Gothic', sans-serif;
        line-height: 1.8;
        color: $default-font-color;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        text-shadow: none !important;
        text-decoration: none !important;
        box-sizing: border-box;
        vertical-align: baseline;
        transition: all 0.25s;
        font-size: 14pt;
    }

    body {
        background-color: $global-bg-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $main-color;
        padding-top: 24px;
        word-wrap: break-word;
        margin-bottom: 18px;
    }

    h1, h2 {
        font-size: 2.3rem;
    }
    h3 {
        font-size: 1.8rem;
    }

    h4 {
        font-size: 1.3rem;
    }
    h5,
    h6 {
        font-size: 1rem;
    }

    h1,
    h2,
    h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid $heading-border-color;
    }

    a,
    b,
    p,
    em,
    strong,
    i,
    span,
    li,
    ol,
    ul {
        font-size: 1rem;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

    strong {
        color: $main-color;
    }

    li {
        list-style-position: inside;
    }
}

@include default-setting();

@mixin layout {
    position: relative;
    display: block;
    height: 100%;
    min-height: 100vh;
    padding: 54px;
    width: 878px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 0px 4px 2px #c0c0c0;
    z-index: 9;
}

@mixin main {
    display: flex;
    margin-top: 100px;
}

#layout {
    @include layout();
    #main {
        @include main();
    }
}

// Global header and navigation
.global-header-wrapper {
    background-color: $global-header-bg-color;
    position: fixed;
    width: 100%;
    z-index: 999;

    .global-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        max-width: 868px;
        margin: 0 auto;
        font-family: 'Roboto Mono', monospace;

        .global-header-title {
            padding: 5px;
            a {
                font-size: 1rem;
                font-weight: bold;
                color: $default-bright-font-color;
                &:hover {
                    color: $bright-main-color;
                }
            }
        }

        .global-header-menu {
            position: relative;
            width: 30px;

            .menu-btn {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-evenly;
                width: 30px;
                height: 30px;
                cursor: pointer;

                @mixin menu-btn {
                    display: block;
                    background-color: $default-bright-font-color;
                    width: 30px;
                    height: 2px;
                }

                & span:nth-child(1) {
                    @include menu-btn();
                }

                & span:nth-child(2) {
                    @include menu-btn();
                    width: 18px;
                }

                & span:nth-child(3) {
                    @include menu-btn();
                    width: 9px;
                }

                &:hover {
                    span {
                        background-color: $bright-main-color;
                        width: 30px;
                    }
                }
            }
        }
    }
    &.hide {
        top: -48px;
    }
    &.show {
        top: 0px;
    }
}

.global-nav-wrapper {
    width: 100vw;
    height: 100%;
    z-index: 99;
}

.global-footer {
    height: 600px;
    width: 100%;
    background-color: $global-header-bg-color;
    z-index: 0;

    .global-footer-front {
        position: relative;
        width: 100%;
        background-color: $global-bg-color;
        height: 240px;
        z-index: 1;
    }

    .global-footer-nav {
        position: fixed;
        display: block;
        bottom: 0;
        height: 200px;
        width: 100%;

        .nav-items-wrapper {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            z-index: -1;
            width: 878px;
            margin: 0 auto;
            & a {
                font-size: 1.2rem;
                color: $default-bright-font-color;
            }
            & path {
                fill: $default-bright-font-color;
            }
        }

        .nav-item.contact {
            position: relative;
            text-align: right;
            svg {
                margin: 10px;
                cursor: pointer;
            }
            div,
            a {
                display: inline-block;
            }
            div:hover::before {
                position: absolute;
                top: -28px;
                left: 112px;
                content: attr(data-text);
                color: $bright-main-color;
                padding: 2px 6px;
                border-radius: 8px;
                background-color: #4b4b4b;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #layout {
        padding: 12px;
        width: 100%;
        #main {
            width: 100%;
        }
    }


    .global-header-wrapper {
        width: 100%;
        padding: 10px 20px;
    }

    .post-list-wrapper {
        width: 100% !important;
    }
    .post-list-item {
        .post-list-title {
            font-size: 1.1rem !important;
            width: 100% !important;
        }
        span {
            font-size: 0.8rem;
        }
    }

    .global-footer {
        width: 100%;
    }
    .nav-items-wrapper {
        padding: 0 20px;
        width: 100% !important;
        margin: 0 !important;
    }
}