.btn {
    cursor: pointer;
    text-decoration: none;
}

.category-btn {
    
}

.flip {
    transform: scale(-1, 1);
}

.hidden {
    visibility: hidden;
    pointer-events: none;
    cursor: none !important;
}