.post-wrapper {
    width: 768px;
    .post-title {
        margin-bottom: 80px;
        .post-heading {
            font-size: 3rem;
        }
    }

    .post-article {

        ul, p {
            margin: 28px 0;
        }

        blockquote p {
            margin: 0;
        }

        .post-footer-nav {
            display: flex;
            justify-content: space-between;
            margin-top: 160px;
            padding-bottom: 40px;
        }
        .post-nav-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #cfcfcf;
            height: 80px;
            width: 300px;
            padding: 10px;
            div {
                display: block;
                width: 220px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &[data-dir='prev'] {
                text-align: right;
                em, b {
                    padding-right: 5px;
                }
            }
            &[data-dir='next'] {
                text-align: left;
                em, b {
                    padding-left: 5px;
                }
            }
            &:hover {
                border: 1px solid #9b9b9b;
                svg {
                    animation-name: vibe;
                    animation-duration: 1s;
                    animation-timing-function: ease;
                    fill: #1b6339;
                }
                b, em {
                    color: #1b6339;
                }
            }

            em {
                display: block;
                font-size: 0.9rem;
            }
            b {
                font-size: 1.1rem;
            }

            svg {
                fill: #3d3d3d;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .post-wrapper {
        width: 100%;
    }

    .post-footer-nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a {
            width: 100%;
            margin: 10px 0;
            .post-nav-btn {
                width: 100% !important;
            }
        }
    }
}