.tag-wrapper {
    width: inherit;
    list-style: none;
    margin-top: 15px;
    .tag {
        display: inline-block;
        padding: 4px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        text-align: center;
        background-color: $tag-bg-color;
        color: $tag-color;
        font-weight: 500;
    }
}

@media screen and (max-width: 768px) {
    .tag-wrapper {
        margin-top: 10px;
        .tag {
            padding: 4px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width: 1024px) {
    
}