.toc-wrapper {
    position: relative;
    margin-top: 2rem;
}

@mixin toc {
    position: absolute;
    left: 100%;
    margin-left: 84px;
}

.toc {
    @include toc();
    margin-top: 72px;

    .toc-list {
        width: 240px;
        border-left: 2px solid #a5a5a53a;
    }
    & li {
        list-style: none;
        padding: 2px 0;
        a {
            display: block;
            font-size: 0.9rem;
            color: #6b6b6b;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p {
            margin: 0;
        }
        .active {
            color: #1b6339;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    & ul {
        margin-left: 18px;
    }
}
.link-header.before {
    top: unset;
}

.floating {
    position: fixed;
    top: 70px;
}

@media screen and (max-width: 1420px) {
    .toc {
        display: none;
    }
}

@media screen and (max-width: 1451px) {
    .toc {
        margin-left: 74px;
    }
}

@media screen and (min-width: 1550px) {
    .toc {
        margin-left: 108px;
        .toc-list {
            width: 264px;
        }
    }
}
