.toc-wrapper {
    display: block;
    height: 100%;
    margin-left: 42px;
    width: calc(50vw - 480px);
    
    .toc-list {
        position: sticky;
        top: 190px;
        border-left: 2px solid #a5a5a53a;
    }

    & li {
        list-style: none;
        padding: 2px 0;
        a {
            display: block;
            font-size: 0.9rem;
            color: #6b6b6b;
            white-space: nowrap;
            text-overflow: ellipsis ;
            overflow: hidden;
        }
        p {
            margin: 0;
        }
        .active {
            color: #1b6339;
            font-weight: bold;
        }
    }

    & ul {
        margin-left: 18px;
    }
}

.link-header.before {
    top: unset;
}

@media screen and (max-width: 1200px) {
    .toc-wrapper {
        display: none;
    }
}
